<!DOCTYPE html>
<html>
<head><title>Profile|Admin</title>

<script type="text/javascript" src="/assets/admin/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/admin/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/admin/main.css">
<link rel="stylesheet" type="text/css" href="/assets/admin/profile.css">
<link rel="stylesheet" type="text/css" href="/assets/admin/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/admin/dropdown.css">

</head>
<body>

    <ul>
        <li><a href="/admin">Home</a></li>
        <li style="float:right"><a href="/logout">Log Out</a></li>
        <li style="float:right"><a href="/admin/profile">Profile</a></li>
        <img src="<%=A_IMAGE%>" style="border-radius: 50%;width:50px;height:50px;float:right">
        <li style="float:right" ><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
        <li style="float:right"><a href="/admin/requestBox">Request Box</a></li>
        <li style="float:right">
            <div class="dropdown">
                <div class="dropbtn">Moderator</div>
                <div class="dropdown-content">
                    <a href="/admin/addModerator">Add Moderator</a>
                    <a href="/admin/deleteModerator">Delete Moderator</a>
                </div>
            </div>
        </li>
        <li style="float:right">
            <div class="dropdown">
                <div class="dropbtn">Content</div>
                <div class="dropdown-content">
                    <a href="/admin/uploadContent">Upload Content</a>
                    <a href="/admin/deleteContent">Delete Content</a>
                </div>
            </div>
        </li>
    </ul>

<div class="container emp-profile">
<form name="adminSupport" method="POST">
<div class="row" >
    <div class="col-md-4" >
    </div>
    <div class="col-md-6">
        <div class="profile-head">
            <h5>
            <%=A_NAME%>
            </h5>
            <h6>
            Admin
            </h6>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="profile-img">
        <img src="<%=A_IMAGE%>" alt="image" title="myPicture" />
        </div>
    </div>

    <div class="col-md-8">
        <br><br><br>
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                    <div class="row">

                            <div class="col-md-6">
                            <label> 
                            User Id</label>
                            </div>
                            <div class="col-md-6">
                            <p><%=A_ID%></p>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                        <label>Name</label>
                        </div>
                        <div class="col-md-6">
                        <p><%=A_NAME%></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                        <label>Email</label>
                        </div>
                        <div class="col-md-6">
                        <p><%=A_EMAIL%></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                        <label>Mobile</label>
                        </div>
                        <div class="col-md-6">
                        <p><%=A_MOBILE%></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                        <label>Address</label>
                        </div>
                        <div class="col-md-6">
                        <p><%=A_ADDRESS%></p>
                        </div>
                        </div>
                    </div>
            </div>
    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <div class="profile-work">
            <p>Setting</p>
            <a href="/admin/editProfile">Edit Profile</a><br/>
            <a href="/admin/editPicture">Edit Picture</a><br/>
            <a href="/admin/changePassword">Change Password</a><br/>

        </div>
    </div>

</div>
</form>           
</div>
    
</body>
</html>
